<!DOCTYPE html>
<html lang="en">
<head>
<%- include('head.html') -%>
</head>
<body>
    <%- include('header.html') -%>
    <link rel="stylesheet" href="/index.css">

    <div class="container">
        <h1>Contact Us</h1>
        <form action="/submit-contact" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Your Name" required>
            
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Your Email" required>
            
            <label for="message">Message</label>
            <textarea id="message" name="message" rows="5" placeholder="Your Message" required></textarea>
            
            <button type="submit">Send Message</button>
        </form>
    </div>
    <%- include('footer.html') -%>
</body>
</html>