<!DOCTYPE html>
<html>

<head>
<%- include('head.html') -%>
</head>

<body>
        <%- include('header.html') -%>
                                <div class="container">
                                        <h1>Purchase Page</h1>
                                        <p>Welcome to the purchase page. Please click the button below to proceed with your purchase.</p>
                                        <button id="purchase" class="purchase-btn">Purchase</button>
                                </div>
        <%- include('footer.html') -%>
</body>

</html>